Package: com.gamersnail.hapticvolume
Name: Haptic Volume
Architecture: iphoneos-arm
Description: Adds Haptic Feedback to the Volume Buttons! Includes settings customize the strength of the haptic as well as enable and disable the tweak.
Maintainer: Nelson Dane
Author: Nelson Dane
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.13)
Version: 1.0.1
Installed-Size: 312
